
$visual-grid: true;
$visual-grid-color: black;
$visual-grid-index: back;
$visual-grid-opacity: 0.1;

// bower:scss
@import "bourbon/dist/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

form div {
    position: relative;
    background-color: red;

    .feedback {
      position: absolute;
      left: 30em;
      right: 0;
      top: 0.5em;
      font-weight: bold;
      color: #760000;
      padding-left: 18px;
    }
}
